@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,400;0,500;0,700;0,800;1,100;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fluid-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarSelect {
  margin: 0 auto;
}

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

button {
	display: block;
	font-size: 16px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 40px 15px 0;
	background-color: #f6a4eb;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

button:active {
	background-color: #d782d9;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3 {
	text-align: center;
}

.centerFontBuff {
	text-align: center;
  font-family: 'overpass';
  font-size: 2.5em;
}

.basicBackground {
  font-family: 'overpass';
	background-color: rgb(37, 37, 37);
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  margin: 50px auto 50px auto;
}

.showProf {
	text-align: center;
  font-family: 'overpass';
  font-size: 2em;
  padding: 5px;
  margin: 10px;
}
/* .♠️ {
  font-family: 'overpass';
  font-size: 2em;
  padding: 5px;
} */

nav a:hover { 
  color: rgb(249, 162, 82) !important; 
} 

.button {
  margin: 10px auto 10px auto; 
  border-radius: 10px; 
  width: auto; 
  text-align: 'center'; 
  justify-content: 'center';
  font-family: 'overpass';
  font-size: 1.5em;
}

#bodyMain {
  background-image: url('https://media.giphy.com/media/W9faapIypqmUFNO0W0/giphy.gif');
  background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
